:root {
  --lilac: #ebecf3;
  --lavender: #c6bcf9;
  --purple: #6355ab;
  --peach: #ffc39e;
  --orange: #ff8f4f;
  --rose: #ffccd1;
  --gray: #f1f2f7;
  --magenta: #0b113c;
  --babyblue: #d6f1fe;
  --darkrose: #f34e5f;
  --darkpeach: #f78f4e;
  --darkblue: #9fdbf8;
  --myFont: "Inconsolata", monospace;
}

* {
  box-sizing: border-box;
}
/* :global(.title) {
    color: yellow;
} */

body {
  background-color: var(--lilac);
  font-family: var(--myFont);
  color: var(--magenta);
}

.app {
  display: flex;
  flex-flow: column nowrap;
}

button {
  cursor: pointer;
  background: 0;
  padding: 0;
  border: 0;
}

/* Header designs */
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 3rem;
}

.headerP {
  margin-top: 0;
  color: var(--purple);
}

/* loader design */
.loader {
  display: none;
  justify-content: space-around;
  align-items: flex-end;
  width: 80px;
  height: 80px;
  border: 2px solid green;
}

.loader div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--orange);
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.loader div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}
.loader div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.loader div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

.openLoader {
  display: flex;
}

.icon {
  font-size: 1.5rem;
}

/* Todo Area Design */
.todoArea {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.inputField {
  /* display: block; */
  height: 100px;
  width: 100%;
  min-width: 140px;
  max-width: 280px;
}

.mainForm {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}

.mainInput {
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--magenta);
  border-radius: 0.2em;
  border: 2px solid transparent;
  outline: none;
  font-size: 18px;
  transition: all 0.2s;
  box-shadow: 0 0 1px var(--lavender);
  padding: 0;
  text-indent: 5px;
  text-align: start;
}

.mainInput:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.mainInput:focus {
  cursor: text;
  background-color: white;
  border-color: var(--purple);
}

.extraField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.dateField {
  position: relative;
  border: 1px solid var(--lavender);
  border-radius: 0.2em;
  padding: 3px 5px;
  margin: 0 0 2px 2px;
}
.dateField:hover {
  opacity: 0.7;
  background-color: var(--gray);
}

.timeForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
}

.timeForm input {
  width: 85px;
  color: var(--magenta);
  border-radius: 0.2em;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.2s;
  box-shadow: 0 0 1px var(--lavender);
}

.timeForm input:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.timeForm input:focus {
  cursor: text;
  background-color: white;
  border-color: var(--purple);
}

.popper {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  bottom: -40px;
  left: -10px;
  padding: 5px;
  border-radius: 0.2em;
  background-color: var(--lavender);
}
.popper button {
  border: 1px solid var(--purple);
  border-radius: 0.2em;
  background-color: var(--purple);
  color: white;
  padding: 2px 6px;
  font-weight: 700;
  font-size: 18px;
}
.popper button:hover {
  opacity: 0.7;
}

.todoTags {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.priWrapper {
  position: relative;
  padding-bottom: 0;
}
.priority {
  margin-bottom: 0;
  padding-right: 11px;
  padding-left: 5px;
}
.priority:hover {
  opacity: 0.7;
}

.priPopper {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 150px;
  bottom: -95px;
  left: -50px;
  padding: 5px;
  margin-top: 0;
  border-radius: 0.2em;
  background-color: white;
}
.priPopper ul {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.priPopper li {
  margin-bottom: 0.2em;
  padding: 3px 8px;
  display: block;
}
.priPopper input {
  visibility: hidden;
}
.priPopper label {
  cursor: pointer;
}
.priPopper label:hover {
  opacity: 0.7;
}

.tagWrapper {
  position: relative;
}

.listTag {
  margin-bottom: 0;
  padding-right: 11px;
  padding-left: 5px;
}
.listTag:hover {
  opacity: 0.7;
}

.tagPopper {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  bottom: -30px;
  left: -90px;
}
.tagPopper input {
  color: var(--magenta);
  border-radius: 0.2em;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.2s;
  box-shadow: 0 0 1px var(--lavender);
  padding: 3px;
  width: 200px;
}
.tagPopper input:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.tagPopper input:focus {
  cursor: text;
  background-color: white;
  border-color: var(--purple);
}
.submitButton {
    border: 1px solid var(--lavender);
  border-radius: 0.2em;
  padding: 3px 5px;
  margin: 0 2px 2px 2px;
}
.submitButton:hover {
    opacity: 0.7;
    background-color: var(--gray);
}

.popperOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* Lists styles */
.allLists {
  width: 200px;
}
.allLists label {
  margin-top: 1rem;
}

.todoListsTitle {
  margin: 0 0 0 0.5em;
  display: inline-block;
  cursor: pointer;
}

.listsButton {
  margin: 0.2em 0 0 0.2em;
  transition: opacity 0.2s ease-in;
}
.listsButton:hover {
  opacity: 0.7;
}

.dropdown {
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}

.dropdownOpen {
  height: 100%;
}

.todoLists {
  line-height: 1.5;
  font-size: 0.9rem;
}

.activeList {
  font-weight: 700;
  color: var(--purple);
}

.newList {
  background: transparent;
  border: 0;
  color: var(--magenta);
  border-bottom: 1px solid currentColor;
  outline: none;
  transition: border-bottom 150ms ease-in;
  font-size: 0.9rem;
}

.newList:focus {
  border-bottom-width: 2.5px;
}
.newList:focus::placeholder {
  opacity: 0.2;
}

.listButton {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 0.2em;
  transition: opacity 200ms ease-in;
}

.listButton:hover {
  opacity: 0.7;
}

/* Todo list design */
.todoListArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.todoList {
  background-color: var(--rose);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
}

.todoListTitle {
  margin: 0rem;
  padding: 0.5rem 0 0.5rem 0.3rem;
  width: 100%;
  background-color: var(--gray);
  border-radius: 4%;
}

.todoListBody {
  width: 100%;
}

.todos li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 0.1em;
  margin-bottom: 0.7em;
  padding-top: 0.2em;
}
.todos {
  list-style-type: none;
  padding-left: 0.1rem;
}

/* checkbox design */
.todoListArea input[type="checkbox"] {
  display: inline-block;
  opacity: 0;
  margin: 0;
  transform: scale(1.7);
  position: relative;
  top: 0.4em;
  left: 0.4em;
  z-index: 1000;
  cursor: pointer;
}

.todoListArea input[type="checkbox"]:checked + .customCheckbox {
  background: var(--magenta);
  box-shadow: inset 0 0 0px 1.5px var(--rose);
}

.customCheckbox {
  border: 0.1rem solid var(--magenta);
  border-radius: 50%;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.4em 0 0 0;
  color: transparent;
  text-align: center;
  font-size: 20px;
  background-color: currentColor;
  padding: 0;
  position: relative;
  right: 0.3em;
}

.todos label {
  min-width: 250px;
  /* max-width: 410px; */
  margin: 0 0 0.2em 0;
  padding: 0.1em;
  text-align: left;
  background-color: transparent;
  border-radius: 0.2em;
  position: relative;
  display: inline-block;
}

.todos label::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -13%;
  height: 2px;
  background: var(--gray);
  opacity: 0.5;
}

.todoSpan {
  position: relative;
  display: inline-block;
}

.editForm {
  display: inline-block;
  opacity: 0;
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: var(--myFont);
  background-color: white;
  border-radius: 0.2em;
  position: absolute;
  left: 0px;
  top: 0;
  overflow: hidden;
}

.editInput {
  width: 100%;
  height: 100%;
}

.showEditForm {
  opacity: 100%;
}

.extraWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
}
.priSpan {
  text-align: center;
  padding: 0.2rem 0;
  background-color: white;
  border-radius: 0.2em;
  box-shadow: inset 0 0 0px 1.5px var(--gray);
  margin-right: 2px;
  border-color: var(--gray);
}
.timeSpan {
  font-size: 15px;
  padding-right: 2px;
}
.deleteArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 22px;
  padding-bottom: 5px;
}
.clearCompleted,
.deleteList {
  background-color: transparent;
  /* border-bottom: 1px solid var(--gray); */
  padding: 1px 3px;
  border-radius: 0.2em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}
.clearCompleted:hover,
.deleteList:hover {
  background-color: var(--gray);
  opacity: 0.7;
}

/* footer design */
footer h3 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

.foot {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 16px;
  list-style-type: none;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

@media (min-width: 550px) {
  .dropdown {
    height: 100%;
  }

  .app {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "list . header header header . ."
      "list . header header header . ."
      "list todo todo todo todo todo todo"
      "list todo todo todo todo todo todo"
      "list todo todo todo todo todo todo"
      "footer footer footer footer footer footer footer";
  }

  .allLists {
    grid-area: list;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .container {
    grid-area: header;
  }

  .todoListArea {
    grid-area: todo;
    grid-column: span 5;
  }

  footer {
    grid-area: footer;
  }

  .inputField {
    min-width: 500px;
  }

  .customCheckbox {
    scale: 1.2;
  }
}
